# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build

on:
  push:
    branches: 
        - main
    tags:        
        - 'v*'
  pull_request:
    branches: 
        - main

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
        contents: 'read'
        id-token: 'write'
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.2'

    - name: Test
      run: go test -v ./...
    
    - id: 'authGCP'
      uses: 'google-github-actions/auth@v1'
      with:
        workload_identity_provider: 'projects/797097160987/locations/global/workloadIdentityPools/swath-gh-idenity-pool/providers/swath-pool-provider-id'
        service_account: 'swath-service-account@agile-tangent-401105.iam.gserviceaccount.com'

    - name: Docker Version
      run: docker version

# verify docker version
# authenticate docker
# create image
# tag the image
# push to registry
# create kube config