name: testAction

on:
    workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
        contents: 'read'
        id-token: 'write'
    steps:
    - uses: actions/checkout@v3
      with:
        repository: https://github.com/adorigi/patroller

    - id: 'authGCP'
      uses: 'google-github-actions/auth@v1'
      with:
        token_format: access_token
        workload_identity_provider: 'projects/797097160987/locations/global/workloadIdentityPools/swath-gh-idenity-pool/providers/swath-pool-provider-id'
        service_account: 'swath-service-account@agile-tangent-401105.iam.gserviceaccount.com'
    
    - id: 'get-credentials'
      uses: 'google-github-actions/get-gke-credentials@v1'
      with:
        cluster_name: 'primary-cluster'
        location: 'northamerica-northeast2-a'

        # The KUBECONFIG env var is automatically exported and picked up by kubectl.
    - id: 'get-pods'
      run: 'kubectl get pods -n swath'